@model Airport_Project_2022.Models.Flight

@{
    ViewBag.Title = "Show";
}


<div id="heading">
    <h1>Are you sure you want to delete this flight?</h1>
    <a href="/Flight/Show/@Model.FlightId" id="back"><i class="fa-solid fa-arrow-left"></i>  Back</a>
</div>

<div class="container">
    <div class="row">
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-plane-departure"></i>  Departure Time</span> <span class="col-info">@Model.DepartureTime</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-spinner"></i>  Flight Status</span><span class="col-info" id="flight_status">@Model.FlightStatus</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-plane"></i>  Airline</span> <span class="col-info">@Model.Airline</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-ticket"></i>  Flight Number</span><span class="col-info"> @Model.FlightNumber</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-location-dot"></i>  Destination</span> <span class="col-info"> @Model.Destination</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-tower-observation"></i>  Terminals</span> <span class="col-info">  @Model.Terminals</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-torii-gate"></i>  Gate</span> <span class="col-info">  @Model.Gate</span></div>
    </div>
    <form action="/Flight/Delete/@Model.FlightId" method="post" >
        <input type="submit" value="Delete" id="del-btn" />
    </form>

</div>







<script src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        var fs = document.getElementById("flight_status");
        if (fs.innerHTML == 'On time' || fs.innerHTML == 'on time' || fs.innerHTML == 'On Time' || fs.innerHTML == 'on Time' || fs.innerHTML == 'ON TIME' || fs.innerHTML == 'boarding' || fs.innerHTML == 'Boarding' || fs.innerHTML == 'BOARDING') {
            fs.style.color = 'green';
        } else if (fs.innerHTML == 'Delayed' || fs.innerHTML == 'delayed' || fs.innerHTML == 'DELAYED' || fs.innerHTML == 'cancelled' || fs.innerHTML == 'Cancelled' || fs.innerHTML == 'CANCELLED') {
            fs.style.color = 'red';
        } else {
            fs.style.color = 'yellow';
        }

    };
</script>
<style>
    h1 {
        text-align: center;
    }

    #heading {
        position: relative;
    }

    #back {
        position: absolute;
        top: 0;
        left: 0;
    }

    .container .row {
        text-align: center;
       
    }

    .container {
        position: relative;
    }
    .styling {
        padding: 50px 0;
        opacity:0.2;
    }

    .col-title {
        font-size: 15px;
    }

    .col-info {
        display: block;
        font-size: 30px;
        font-weight: bold;
    }
    #del-btn{
        position:absolute;
        top:40%;
        left:45%;
    }
    #del-btn {
        background-color: red;
        color: white;
        padding: 10px 30px;
        border-radius: 25px;
        border: none;
        box-shadow: 5px 10px 8px #888888;
        transition: background-color 0.25s;
    }
    #del-btn:hover {
        background-color: darkred;
    }
</style>
