@model Airport_Project_2022.Models.Flight

@{
    ViewBag.Title = "Show";
}




<div id="heading">
    <a href="/Flight/List" id="back"><i class="fa-solid fa-arrow-left"></i> Back</a>
    <h1>Show Flight - <span id="flight_number">@Model.FlightNumber</span></h1>
    <div id="link_btn">
        <a href="/Flight/Edit/@Model.FlightId" id="edit_link"><i class="fa-solid fa-pencil"></i> Edit</a>
        <a href="/Flight/DeleteConfirm/@Model.FlightId" id="del_link"><i class="fa-solid fa-trash-can"></i> Delete</a>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-plane-departure"></i>  Departure Time</span> <span class="col-info">@Model.DepartureTime</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-spinner"></i>  Flight Status</span><span class="col-info" id="flight_status">@Model.FlightStatus</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-plane"></i>  Airline</span> <span class="col-info">@Model.Airline</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-ticket"></i>  Flight Number</span><span class="col-info"> @Model.FlightNumber</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-location-dot"></i>  Destination</span> <span class="col-info"> @Model.Destination</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-info"><span class="col-title"><i class="fa-solid fa-tower-observation"></i>  Terminals</span> <span class="col-info">  @Model.Terminals</span></div>
        <div class="styling col col-sm-6 col-md-4 bg-primary"><span class="col-title"><i class="fa-solid fa-torii-gate"></i>  Gate</span> <span class="col-info">  @Model.Gate</span></div>
    </div>
</div>


<script src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        var fs = document.getElementById("flight_status");
        if ( fs.innerHTML == 'On Time' ||fs.innerHTML == 'Boarding') {
            fs.style.color = 'green';
        } else if (fs.innerHTML == 'Delayed' || fs.innerHTML == 'Cancelled' ) {
            fs.style.color = 'red';
        } else {
            fs.style.color = 'yellow';
        }

    };
</script>
<style>

    h1 {
        text-align: center;
    }

    #heading {
        position: relative;
    }
    #back{
        position:absolute;
        top:0;
        left:0;
    }
    #link_btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    #del_link {
        color: red;
        border: 1px solid red;
        padding: 5px 10px;
        border-radius: 25px;
        font-size: 11px;
        text-decoration: none;
        transition: background-color 0.25s, color 0.25s;
        margin-left: 10px;
    }

    #del_link:hover {
        background-color: red;
        color: white;
    }

    #edit_link {
        color: #0074d9;
        border: 1px solid #0074d9;
        padding: 5px 10px;
        border-radius: 25px;
        font-size: 11px;
        text-decoration: none;
        transition: background-color 0.25s, color 0.25s;
    }

    #edit_link:hover {
        background-color: #0074d9;
        color: white;
    }

    #flight_number {
        font-weight: bold;
        color: cadetblue;
    }
    .container .row{
        text-align:center;
    }
    .styling {
        padding: 50px 0;
    }
    .col-title{
        font-size:15px;
    }
    .col-info {
        display: block;
        font-size: 30px;
        font-weight:bold;
    }
</style>
