

@model Airport_Project_2022.Models.Flight

@{
    ViewBag.Title = "Show";
}

<h2>Show Flight</h2>

<div>Departure Time: @Model.DepartureTime</div>
<div>Flight Status: @Model.FlightStatus </div>
<div>Airline: @Model.Airline</div>
<div>Flight Number: @Model.FlightNumber</div>
<div>Destination: @Model.Destination</div>
<div>Terminal: @Model.Terminals</div>
<div>Gate:  @Model.Gate</div>